node_modules
.DS_Store

/.cache
/build
/app/build
/public/build/
/public/_dev
/app/public/build
/prisma/dev.sqlite
/prisma/dev.sqlite-journal
database.sqlite
# Ignoore .toml file
shopify.app.curtain-customizer-draft-v1.toml

# Ignore environment files

.env
.env.*

shopify.app.toml




/extensions/*/dist

# Ignore shopify files created during app dev
.shopify/*
.shopify.lock


# Ignoore .toml file
shopify.app.curtain-customizer-draft-v1.toml